{% extends 'base/front_base.html' %}
{% load static %}
{% load news_filters %}
{% block title %}
    搜索
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/search/search.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/news/news_detail.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_681895_w5poic4qj6vfgvi.css">
{% endblock %}
{% block main %}
    <div class="search-main">
        <div class="main-content-wrapper">
            <div class="search-group">
                <form action="" method="get">
                    <input type="text" name="q" value="{{ query }}" class="search-input" placeholder="请输入关键字">
                    <input type="submit" class="search-btn" value="搜索">
                </form>
            </div>
            <div class="recommend-group">
                <p class="recommend-title">热门推荐:</p>
                <ul class="recommend-list">
                    {% for result in page.object_list %}
                        {% with result.object as news %}
                            <li class="thumbail-group">
                                <a href="{% url 'news:news_detail' news_id=news.pk %}">
                                    <img src="{{ news.thumbnail }}" alt="">
                                </a>
                            </li>
                            <li class="news-group">
                                <p class="title">
                                    <a href="{% url 'news:news_detail' news_id=news.pk %}">{{ news.title }}</a>
                                </p>
                                <p class="desc">{{ news.desc }}</p>
                                <p class="more">
                                    <span class="catgory">{{ news.categroy.name }}</span>
                                    <span class="pub-time">{{ news.pub_tiem|time_since }}</span>
                                    <span class="author">{{ news.author.username }}</span>
                                </p>

                            </li>

                        {% endwith %}

                    {% endfor %}


                </ul>
            </div>
        </div>
    </div>

{% endblock %}