{% extends 'base/front_base.html' %}
{% load static %}
{% load news_filters %}
{% block title %}
    新闻详情
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/news/index.min.css" %}">
    <link rel="stylesheet" href="{% static "css/news/news_detail.min.css" %}">
    <script src="{% static 'arttemplate/template-web.js' %}"></script>
    <script src="{% static 'js/news_detail.min.js' %}"></script>
    <script id="comment_item" type="text/html">
        {% verbatim %}
        <li>
            <div class="comment-info-list">
                <img class="avatar"
                     src="http://cdn.huodongxing.com/file/20161025/116E84BF1A9F32053A3CEFA3FED4946208/03d795cde692a572120b5ca6d444163f-sz_154805.jpg?auth_key=1528823982-0-0-1ab0e9165d479cb719c3502b5272c452"
                     alt="">
                <span class="author">{{ comment.author.username }}</span>
                <span class="pubtime">{{ comment.pub_time|timeSince }}</span>
            </div>
            <div class="comment">
                <p class="cmmment-info">{{ comment.content }}</p>
            </div>
        </li>
        <li>
            <div class="comment-info-list">
                <img class="avatar"
                     src="http://cdn.huodongxing.com/file/20161025/116E84BF1A9F32053A3CEFA3FED4946208/03d795cde692a572120b5ca6d444163f-sz_154805.jpg?auth_key=1528823982-0-0-1ab0e9165d479cb719c3502b5272c452"
                     alt="">
                <span class="author">戴启乐</span>
                <span class="pubtime">一小时前</span>
            </div>
            <div class="comment">
                <p class="cmmment-info">只是，借以讲故事的杠杆，美图秀秀的用户量</p>
            </div>
        </li>
        {% endverbatim %}
    </script>
{% endblock %}
{% block main %}
    <div class="main">
        <div class="wrapper">
            <div class="news-wrapper">
                <div class="news-detail-wrapper">
                    <h2 class="detail-title">
                        {{ news.title }}
                    </h2>
                    <div class="news-info">
                        <span class="author">{{ news.author.username }}</span>
                        <span class="pubtime">{{ news.pub_tiem|time_since }}</span>
                        <span class="catgroy">{{ news.categroy.name }}</span>
                    </div>
                    <div class="share-group">
                        <span>分享至:</span>
                        <a class="weixin share-item"></a>
                        <a href="#" class="weibo share-item"></a>
                    </div>
                    <div class="content-group">
                        {{ news.content|safe }}
                    </div>
                </div>
                <div class="conment-wrapper">
                    <h3 class="title">文章评论（0）</h3>
                    <textarea name="comment" id="comment" class="comment-textarea logined-textarea"
                              placeholder="立即登陆，参与评论"></textarea>
                    <button class="conment-submit " data_news_id="{{ news.pk }}">立即评论</button>

                </div>
                <ul class="comment-list-group">
                    {% for comment in news.comments.all %}
                        <li>
                            <div class="comment-info-list">
                                <img class="avatar"
                                     src="http://cdn.huodongxing.com/file/20161025/116E84BF1A9F32053A3CEFA3FED4946208/03d795cde692a572120b5ca6d444163f-sz_154805.jpg?auth_key=1528823982-0-0-1ab0e9165d479cb719c3502b5272c452"
                                     alt="">
                                <span class="author">{{ comment.author.username }}</span>
                                <span class="pubtime">{{ comment.pub_time|time_since }}</span>
                            </div>
                            <div class="comment">
                                <p class="cmmment-info">{{ comment.content }}</p>
                            </div>
                        </li>

                    {% endfor %}

                </ul>
            </div>
            {% include 'comment/siderbar.html' %}
        </div>
    </div>
{% endblock %}
