<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>授权页面</title>
    <link rel="stylesheet" href="../../dist/css/comment/auth.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_796312_9rg7q2ll57o.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/auth.min.js"></script>
</head>
<body>
  <button id="btn">登录/注册</button>
  <div class="mask-wrapper">
      <div class="author-wrapper">
          <div class="close-group">
              <span class="close-btn icon-close iconfont"></span>
          </div>

          <div class="auth-innergroup">
              <div class="scrool-wrapper">
                  <div class="singin-group auth-group">
                      <div class="top-group">
                          <span class="title">请登录</span>
                          <a href="javascript: void (0)" class="swith">立即注册></a>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <input type="text" class="form-control" name="telephone" placeholder="请输入手机号码">
                          </div>
                          <div class="input-group">
                              <input type="password" class="form-control" name="password" placeholder="请输入密码">
                          </div>
                          <lable class="remeber-lable">
                              <input type="checkbox" name="remeber" value="1">
                              记住我
                          </lable>
                          <div class="input-group">
                              <input type="submit" class="subnit-btn" value="立即登录">
                          </div>
                      </div>
                  </div>
                  <div class="singup-group auth-group">
                      <div class="top-group">
                          <span class="title">立即注册</span>
                          <a href="javascript: void (0)" class="swith">立即登录></a>
                      </div>
                      <div>
                          <span>目前不支持注册,没有购买短信服务</span>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <input type="text" class="form-control" name="telephone" placeholder="手机号码">
                          </div>
                          <div class="input-group">
                              <input type="text" class="form-control" name="username" placeholder="用户名">
                          </div>
                          <div class="input-group">
                             <div class="short-group">
                              <input type="text" class="form-control" name="image_catpcha" placeholder="图形验证码">
                            </div>
                            <div class="input-group-addon">
                              <img src="" alt="">
                            </div>
                          </div>
                          <div class="input-group">
                              <input type="password" class="form-control" name="password2" placeholder="密码">
                          </div>
                          <div class="input-group">
                              <div class="short-group">
                                 <input type="text" class="form-control" name="sms_captcha" placeholder="短信验证码">
                              </div>
                              <div class="input-group-addon">
                                <span class="ams-captcha-btn">点击发送</span>
                            　</div>
                          </div>
                          <div class="input-group">
                              <input name="siginup-btn" type="submit" class="subnit-btn" value="立即注册">
                          </div>
                      </div>
                  </div>
              </div>

          </div>

      </div>
  </div>
</body>
</html>